a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var {
    margin: 0;
    padding: 0;
}
html{
    font-family:Roboto,arial,"微软雅黑" ;
}
body{
    background-color: #f2f0f0;
}
#main{
    min-height: 1070px;
    padding-bottom: 84px;
    position: relative;
    margin: 0 auto;
    width: 640px;
}
#main .userheader {
    padding-top: 86px;
    width: 100%;
    height: 395px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    background:url("http://wxtest.bqu.com/Areas/Mobile/Themes/Default/Content/Images/u_top_bg.jpg?v=1.0") ;
}

#main .userheader .tips{
    color: #ffffff;
    text-align: center;
    font-size: 28px;
}

#main .userheader .tips h4{
    font-size: 38px;
    height: 38px;
    line-height: 38px;
}

#main .userheader .u_login{
    margin: 45px 0 0 0;
    text-align: center;
}
#main .userheader .u_login a{
    display: inline-block;
    margin-bottom: 32px;
    width: 298px;
    height: 64px;
    border: 3px solid #ffffff;
    /*boder-radius:100px;*/
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    color: #ffffff;
    font-size: 36px;
    line-height: 64px;
}
#main .userheader .nav{
    width: 100%;
    height: 85px;
    background-color:rgba(0,0,0,.18) ;
    text-align: center;
    /*overflow: hidden;*/
    position: relative;
}
/*组合选择器*/
.nav_a, .nav_right_a{
    line-height: 85px;
    font-size: 24px;
    color: #ffffff;
    border-right: 1px solid #979797;
    vertical-align: middle;
    text-align: center;
    display: block;
}
.nav_a{
    float: left;
    width:50%;
}
.nav_right_a{
    position: absolute;
    float: right;
    top: 0px;
    right: 0px;
    width:50%;
}
/*我的收藏和品牌共同属性*/
.nav_a_left, .nav_a_right{
    display: inline-block;
    vertical-align: middle;
    width: 55px;
    height: 40px;
}
.nav_a_left{
    background: url("../image/收藏.jpg") center left no-repeat;
}
.nav_a_right{
    background: url("../image/关注品牌.jpg") center left no-repeat;
}

#userorder{
    margin-top: 20px;
    border-radius: 1px;
    background: #ffffff;
}
/*我的订单*/
#userorder h3{
    box-sizing: border-box;
    padding: 0 20px;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #d8d8d8;
    color: #262736;
    font-size: 24px;
    font-weight: 400;
    line-height: 59px;
}
/*查看全部订单*/
#userorder h3 a{
    float: right;
    color: #b2b2b2;
    font-size: 20px;
}
/* 我的订单*/
#userorder ul{
    height: 165px;
    list-style: none;
    overflow: hidden;
    /*background-color: gold;*/
}

#userorder ul li{
    /*设置的宽高将包含 边框及 padding*/
    box-sizing: border-box;
    /*background-color: green;*/
    float: left;
    width: 25%;
    height: 165px;
    color: #262736;
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    display: block;
    border-right: 1px solid #979797;
}
#userorder ul li a{
    vertical-align: middle;
}
#userorder ul li i{
    position: relative;
    display: block;
    margin: 20px auto;
    width: 50px;
    height: 50px;
    background: url("http://wxtest.bqu.com/Areas/Mobile/Themes/Default/Content/images/s23.png?v=1.0") no-repeat;
}

#userorder ul li a .f_icon{
    background-position: -50px 0;
}
#userorder ul li a .h_icon{
    background-position: -50px -50px;
}
#userorder ul li a .s_icon{
    background-position: -50px -100px;
}
#userorder ul li a .p_icon{
    background-position: -50px -150px;
}

/*第三部分*/
.userli{
    margin-bottom: 20px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #cccccc;
    background-color: #ffffff;
}
.userli ul{
    list-style: none;
}
.userli ul li{
    box-sizing: border-box;
    padding: 11px 18px 11px 30px;
    height: 70px;
    border-bottom: 1px solid #eee;
    font-size: 24px;
    line-height: 48px;
}
.userli ul li .rig{
    float: right;
    color: #999;
    font-size: 20px;
}
.userli ul li .rig .icon_rig{
    vertical-align: middle;
    display: inline-block;
    width: 32px;
    height: 32px;
    overflow: hidden;
    background: url("http://wxtest.bqu.com/Areas/Mobile/Themes/Default/Content/images/s32.png") no-repeat;
    background-position: -32px 0;
}

.userli ul li.ph
{
    height: 94px;
}

.userli ul li.ph a span{
    display: inline-block;
    line-height: 36px;
}